<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

{%- if section.settings.image != blank -%}
{%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
    {{ section.settings.image | image_url: width: 1500 | image_tag:
      loading: 'lazy',
      sizes: sizes,
      widths: '165, 360, 535, 750, 1070, 1500'
    }}
    {%- else -%}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}

<div class="swiper">
    <div class="swiper-wrapper">
      <a href="{{ section.settings.image}}">
        <img
          class="swiper-slide"
          src="{{ section.settings.image | img_url:'master'}}"
          loading="lazy"
          width="600"
          height="300">
      </a>
        <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
   <!-- If we need scrollbar -->
   <div class="swiper-scrollbar"></div>
    </div>
</div>
</div>





<style>
    .swiper {
  width: 600px;
  height: 300px;
}

</style>
<script>
const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'vertical',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>



{% schema %}
  {
    "name": "Carosel",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured Collection"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }, {
        "type": "range",
        "id": "product_count",
        "min": 4,
        "max": 12,
        "label": "Number of products to display",
        "default": 4
      }
    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Carosel",
        "settings": {}
      }
    ]
  }
{% endschema %}