<!-- hero-banner.liquid -->

<section class="hero-banner">
  {% if section.settings.hero_banner_image %}
    <img src="{{ section.settings.hero_banner_image }}" alt="{{ section.settings.hero_banner_alt_text }}"" loading="lazy" width="480" height="480" />
  {% endif %}

  {% if section.settings.hero_banner_text %}
    <div class="hero-banner-text">
      {{ section.settings.hero_banner_text }}
    </div>
  {% endif %}

  {% if section.settings.hero_banner_button_text %}
    <a href="{{ section.settings.hero_banner_button_link }}" class="hero-banner-button">
      {{ section.settings.hero_banner_button_text }}
    </a>
  {% endif %}
</section>


{% schema %}
  {
    "name": "Hero Banner",
    "settings": [],
    "blocks": [
      {
        "type": "text",
        "name":"text",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          }, 
          {
            "type": "richtext",
            "label": "Subtitle",
            "id": "subtitle"
          },
          {
            "type": "image_picker",
            "id": "hero",
            "label": "Hero Image"
          }
        ]
      },
      {
        "type": "buttons",
        "name":"button",
        "settings": [
        
]
      }
    ]
  }
  {% endschema %}
  