<!-- hero-banner.liquid -->

<section class="hero-banner">
  {% if section.settings.hero_banner_image %}
    <img src="{{ section.settings.hero }}" alt="{{ section.settings.hero_alt_text }}"" loading="lazy" width="480" height="480" />
  {% endif %}

  {% if section.settings.hero_banner_text %}
    <div class="hero-banner-text">
      {{ section.settings.text }}
    </div>
  {% endif %}

  {% if section.settings.text %}
    <a href="{{ section.settings.button_link }}" class="hero-banner-button">
      {{ section.settings.text }}
    </a>
  {% endif %}
</section>


{% schema %}
  {
    "name": "Hero Banner",
    "settings": [],
    "blocks": [
      {
        "type": "text",
        "name":"text",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          }, 
          {
            "type": "richtext",
            "label": "Subtitle",
            "id": "subtitle"
          },
          {
            "type": "image_picker",
            "id": "hero",
            "label": "Hero Image"
          }
        ]
      },
      {
        "type": "buttons",
        "name":"button",
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "Primary Button Label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "Primary Button Link"
          },
      
          {
            "type": "text",
            "id": "button_label_2",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
          }, {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
          }
        ]
      }

]
  }

  {% endschema %}
  